<!-- Edit modal -->
<div class="modal fade" id="editeModal<%= item.book_no%>" tabindex="-1" aria-labelledby="editeModalLabel"
    aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editeModalLabel">Book - 책 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="form-inline" action="/edit/<%=item.book_no%>" method="POST">
            <div class="mb-3">
              <label for="book_title" class="col-form-label">title</label>
              <input type="text" class="form-control" id="book_title" name="book_title"
                value="<%=item.book_title%>">
            </div>
            <div class="mb-3">
              <label for="book_content" class="col-form-label">content</label>
              <textarea class="form-control" id="book_content"
                name="book_content"><%=item.book_content%></textarea>
            </div>
            <div class="mb-3">
              <label for="book_authors" class="col-form-label">책 작가</label>
              <input type="text" class="form-control" id="book_authors" name="book_authors"
                value="<%=item.book_authors%>">
            </div>
            <div class="mb-3">
              <label for="book_date" class="col-form-label">책 출판일</label>
              <input type="date" class="form-control" id="book_date" name="book_date"
                value="<%=item.book_date%>">
            </div>
            <div class="mb-3">
              <label for="book_publisher" class="col-form-label">책 출판사</label>
              <input type="text" class="form-control" id="book_publisher" name="book_publisher"
                value="<%=item.book_publisher%>">
            </div>
            <div class="mb-3">
              <label for="book_price" class="col-form-label">책 가격</label>
              <input type="text" class="form-control" id="book_price" name="book_price"
                value="<%=item.book_price%>">
            </div>


            <br>
            <div class="modalBtnDiv">
              &nbsp;
              <input style="float: right;margin-left: 10px;" type="submit" class="btn btn-primary" onclick="return confirm('수정하시겠습니까?');"
              value="수정" />
              <input style="float: right;" type="button" class="btn btn-secondary" value="Close"
                data-bs-dismiss="modal" />&nbsp;
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
