<%-include('header')%>

  <div class="container">
    <br>
    <h1 class="mt-5" style="font-weight: bold;">Book List</h1>
    <!-- Button trigger modal -->
    <button style="float: right;" type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#book_add">
      책 추가
    </button>

    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">책 제목</th>
          <th scope="col">책 작가</th>
          <th scope="col">책 출판사</th>
          <th scope="col">책 출판일</th>
          <th scope="col">책 가격</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(item) { %>
          <tr>
            <th>
              <!-- Edit modal -->
              <a style="float: left;" class="edit" data-bs-toggle="modal"
                data-bs-target="#editeModal<%= item.book_no%>">
                <%= item.book_title %>
              </a>
            </th>
            <td>
              <%= item.book_authors %>
            </td>
            <td>
              <%= item.book_publisher %>
            </td>
            <td>
              <%= item.book_date %>
            </td>
            <td>
              <%= item.book_price %> 원
            </td>
            <td>
              <button style="float: right;" type="button" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#book_delete<%= item.book_no%>">삭제
              </button>
            </td>
          </tr>

          <!-- delete Modal -->
          <div class="modal fade" id="book_delete<%= item.book_no%>" tabindex="-1" aria-labelledby="book_delete"
            aria-hidden="true">

            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="book_delete">Book - 책 삭제</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="delete/<%=item.book_no%>" method="get">
                  <div class="mb-3">
                    <label>
                      <b>" <%= item.book_title %> "</b> 책을 삭제하시겠습니까?
                    </label>
                  </div>
                  <div class="modalBtnDiv">
                    &nbsp;
                    <input style="float: right;margin-left: 10px;" type="submit" class="btn btn-danger"
                      onclick="return confirm('삭제하시겠습니까?');" value="삭제" />
                    &nbsp;
                    <input style="float: right;" type="button" class="btn btn-secondary" value="Close"
                      data-bs-dismiss="modal" />&nbsp;
                  </div>
                  </form>
                </div>

              </div>
            </div>
          </div>

          <!-- Edit modal -->
          <div class="modal fade" id="editeModal<%= item.book_no%>" tabindex="-1" aria-labelledby="editeModalLabel"
            aria-hidden="true">

            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editeModalLabel">Book - 책 수정</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="<%=item.book_no%>" method="post">
                    <div class="mb-3">
                      <label for="book_title" class="col-form-label">title</label>
                      <input type="text" class="form-control" id="book_title" name="book_title"
                        value="<%=item.book_title%>">
                    </div>
                    <div class="mb-3">
                      <label for="book_content" class="col-form-label">content</label>
                      <textarea class="form-control" id="book_content"
                        name="book_content"><%=item.book_content%></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="book_authors" class="col-form-label">책 작가</label>
                      <input type="text" class="form-control" id="book_authors" name="book_authors"
                        value="<%=item.book_authors%>">
                    </div>
                    <div class="mb-3">
                      <label for="book_date" class="col-form-label">책 출판일</label>
                      <input type="date" class="form-control" id="book_date" name="book_date"
                        value="<%=item.book_date%>">
                    </div>
                    <div class="mb-3">
                      <label for="book_publisher" class="col-form-label">책 출판사</label>
                      <input type="text" class="form-control" id="book_publisher" name="book_publisher"
                        value="<%=item.book_publisher%>">
                    </div>
                    <div class="mb-3">
                      <label for="book_price" class="col-form-label">책 가격</label>
                      <input type="text" class="form-control" id="book_price" name="book_price"
                        value="<%=item.book_price%>">
                    </div>


                    <br>
                    <div class="modalBtnDiv">
                      &nbsp;
                      <input style="float: right;margin-left: 10px;" type="submit" class="btn btn-primary"
                        onclick="return confirm('수정하시겠습니까?');" value="수정" />
                      &nbsp;
                      <input style="float: right;" type="button" class="btn btn-secondary" value="Close"
                        data-bs-dismiss="modal" />&nbsp;
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>

          <%}) %>
      </tbody>
    </table>
  </div>

  <!-- add Modal -->
  <div class="modal fade" id="book_add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book - 책 추가</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="form-inline" action="/" method="POST" Senctype="multipart/form-data">
            <div class="mb-3">
              <label for="book_title" class="col-form-label">책 제목</label>
              <input type="text" class="form-control" id="book_title" name="book_title">
            </div>
            <div class="mb-3">
              <label for="book_content" class="col-form-label">책 내용</label>
              <textarea class="form-control" id="book_content" name="book_content"></textarea>
            </div>
            <div class="mb-3">
              <label for="book_authors" class="col-form-label">책 작가</label>
              <input type="text" class="form-control" id="book_authors" name="book_authors">
            </div>
            <div class="mb-3">
              <label for="book_date" class="col-form-label">책 출판일</label>
              <input type="date" class="form-control" id="book_date" name="book_date">
            </div>
            <div class="mb-3">
              <label for="book_publisher" class="col-form-label">책 출판사</label>
              <input type="text" class="form-control" id="book_publisher" name="book_publisher">
            </div>
            <div class="mb-3">
              <label for="book_price" class="col-form-label">책 가격</label>
              <input type="text" class="form-control" id="book_price" name="book_price">
            </div>
            <br>


            <div class="modalBtnDiv">
              &nbsp;
              <input style="float: right;margin-left: 10px;" type="submit" class="btn btn-primary" value="등록" />
              <input style="float: right;" type="button" class="btn btn-secondary" value="Close"
                data-bs-dismiss="modal" />&nbsp;
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>




  <%-include('footer')%>